{% extends 'base.html' %}{% load static %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pais</th>
            <th>Liga</th>
            <th>Clubs</th>
        </tr>
        </thead>
        <tbody id="body"></tbody>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Pais</th>
            <th>Liga</th>
            <th>Clubs</th>
        </tr>
        </tfoot>
    </table>{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/data.js' %}"></script>
{% endblock %}